<main class="relative px-20 flex flex-row justify-between py-30 bg-gray-100 overflow-hidden">
    <!-- Effet de boules colorées -->
    <div class="absolute w-48 h-48 bg-blue-500 opacity-30 rounded-full top-10 left-10 blur-3xl"></div>
    <div class="absolute w-56 h-56 bg-green-500 opacity-30 rounded-full top-20 right-16 blur-3xl"></div>
    <div class="absolute w-40 h-40 bg-pink-500 opacity-30 rounded-full bottom-10 left-1/3 blur-3xl"></div>

    <div class="relative space-y-2">
        <h2 class="text-slate-900 text-2xl font-bold">Feedback à propos de nos services</h2>
        <p class="text-slate-500">
            Quelques témoignages de nos clients après<br /> nous avoir bénéficié de nos services.
        </p>
        <div class="flex flex-row gap-10">
            <button
                class="border border-white p-2 text-white font-bold rounded hover:bg-green-800 shadow-2xl transition duration-300 bg-green-600">
                Réserver Une date
            </button>
            <button
                class="border border-green-600 p-2 text-black font-bold hover:bg-green-800 transition shadow-2xl duration-300 rounded hover:text-white">
                Service client
            </button>
        </div>
    </div>
    <div>
        <app-carousel />
    </div>
</main>
