<div class="relative lg:w-[50rem] h-96 overflow-hidden rounded-4xl shadow-lg border border-green-100">
    <!-- Slide container -->
    <div class="absolute inset-0 flex transition-transform duration-1000 ease-in-out"[ngStyle]="{'transform': 'translateX(-' + currentIndex * 100 + '%)'}">
      <div *ngFor="let image of images; let i = index" class="w-full flex-shrink-0 ">
        <div class="lg:w-[50rem] h-96 bg-cover bg-center flex flex-col justify-center item-center px-10 z-10">
            <div class="flex flex-col justify-center items-center gap-3">
                <div class="flex lg:flex-row flex-col lg:gap-10 gap-4">
                    <div><img  class="lg:h-20 lg:w-20 h-14 w-14 rounded-full" src={{image.avatar}} alt=""></div>
                    <div class="space-y-2">
                        <p class="text-slate-900 font-semibold">{{image.name}}</p>
                        <p>{{image.title}}</p>
                        <div class="flex flex-row gap-2">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                            <img class="h-4 w-4" src="/images/star.svg" alt="stars">
                        </div>
                        <p class="text-slate-500 w-72">{{image.text}}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Indicators for the current slide -->
    <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2">
      <div *ngFor="let image of images; let i = index"
           class="w-3 h-3 rounded-full border border-slate-500 bg-green-500"
           [class.bg-white]="currentIndex === i"
           [class.bg-gray-500]="currentIndex !== i"></div>
    </div>
  
    <!-- Navigation controls -->
    <div class="absolute top-1/2 transform -translate-y-1/2 left-4 cursor-pointer text-green-600 font-bold" (click)="prevSlide()">
      &#10094;
    </div>
    <div class="absolute top-1/2 transform -translate-y-1/2 right-4 cursor-pointer text-green-600 font-bold" (click)="nextSlide()">
      &#10095;
    </div>
  
    <!-- Slide counter -->
    <div class="absolute top-4 right-4 text-white bg-green-500 bg-opacity-50 py-1 px-3 rounded">
      {{ currentIndex + 1 }} / {{ totalImages }}
    </div>
    <div>
    </div>
  </div>
  
  