<main class="h-auto w-full lg:px-20 px-5 lg:py-10 flex flex-col gap-10">
    <div class=" flex lg:flex-row flex-col justify-between">
        <h2 class=" text-slate-800 text-2xl font-bold">Nous vous rendons toujours<br/> un service de qualité</h2>
        <div>
            <h2 class=" text-2xl text-slate-900 font-bold">Services</h2>
            <p class="text-slate-500">Voici nos diffferent services pour vous </p>
            <p class="text-slate-500">Nous sommes engager pour vous rendre un service louable</p>
        </div>
    </div>
    <div class=" h-1 w-full bg-slate-200"></div>
    <div class="flex lg:flex-row flex-col lg:justify-between justify-center gap-5 lg:px-20 lg:py-10 py-5 px-2">
        <div #animatedBox >
            <div><img class="lg:h-60 lg:w-80 rounded-2xl shadow-2xl" src="/images/young-african-american-man-doing-laundry.jpg" alt=""></div>
            <div class="p-2 space-y-5">
                <h2 class="text-slate-900  text-xl font-bold">Home Clean</h2>
                <p class="lg:w-72 text-slate-500">
                    Ce service est spécialisé dans le nettoyage de chantiers pré-habités et de maisons déjà habitée en incluant le nettoyage de tous les contenus de la maison,
                    tels que les meubles, les murs, les plafonds, les matelas,
                    les canapés, etc.., en utilisant des techniques et des produits de pointe pour assurer une propreté optimale.
                </p>
                <button (click)="modal.showModal()" class="flex flex-row border border-green-600 p-2 text-slate-900 font-bold rounded hover:bg-green-800 hover:text-white shadow-2xl transition duration-30"><span>Reserver une date</span><img class="h-5 w-5" src="/images/arrow-up-right.svg" alt="row"></button>
            </div>
        </div>
        <div #animatedBox >
            <div><img class="lg:h-60 lg:w-80 rounded-2xl shadow-2xl" src="/images/medium-shot-man-cleaning-table.jpg" alt=""></div>
            <div class="p-2 space-y-5">
                <h2 class="text-slate-900  text-xl font-bold">Nettoyage Meubles</h2>
                <p class="lg:w-72 text-slate-500">
                  Ce service est spécialisé dans le nettoyage complet et efficace des vêtements et
                  la réalisation d'autres travaux domestiques selon les besoins des clients,
                  qu'ils soient une famille, un étudiant ou un célibataire.
                  Toute notre équipe est consciente de son impact environnemental et travaille constamment à réduire la consommation d'eau,
                  d'énergie et de produits chimiques dans ses processus de nettoyage.
                </p>
                <button (click)="modal.showModal()" class="border border-white p-2 text-white font-bold rounded hover:bg-green-800 shadow-2xl transition duration-300 bg-green-600">Reserver une date</button>
            </div>
        </div>
        <div #animatedBox >
            <div><img class="lg:h-60 lg:w-80 rounded-2xl shadow-2xl" src="/images/handsome-man-cleaning-house.jpg" alt=""></div>
            <div class="p-2 space-y-5">
                <h2 class="text-slate-900  text-xl font-bold"> Car Wash</h2>
                <p class="lg:w-72 text-slate-500">
                   Ce service est la solution idéale pour les sociétés et personnes privées souhaitant assurer un nettoyage professionnel et rapide de leurs véhicules.
                   ce programme se démarque par son professionnalisme et sa rapidité, le nettoyage efficace et complet des véhicules tant à l'intérieur que à l'extérieur,
                   en utilisant des techniques et des produits de pointe.
                </p>
                <button (click)="modal.showModal()" class="flex flex-row border border-green-600 p-2 text-slate-900 font-bold rounded hover:bg-green-800 hover:text-white shadow-2xl transition duration-30"><span>Reserver une date</span><img src="/images/arrow-up-right.svg" alt="row"></button>
            </div>
        </div>
          <div class="flex flex-col justify-center items-center">                       
            <div class="relative group">
                <!-- Effet d'ondulation -->
                <div class="absolute inset-0 flex justify-center items-center">
                    <div class="w-20 h-20 bg-green-500 rounded-full opacity-0 scale-75 
                                transition-all duration-500 group-hover:opacity-40 group-hover:scale-110"></div>
                </div>
            
                <!-- Bouton principal -->
                <div appMenunavigation="/service" class="bg-green-600 h-20 w-20 rounded-full flex flex-col justify-center items-center 
                            hover:bg-green-700 relative z-10 shadow-lg transition">
                    <img class="h-5 w-5" src="/images/arrow-right.svg" alt="">
                </div>
            </div>
            
          </div>
    </div>
    <app-modale-calendy #modal />
</main>
