<main class="lg:p-20 p-5 flex lg:flex-row flex-col gap-5 lg:justify-between justify-center lg:items-center">
    <div>
        <div class="space-y-10">
            <h2 class="text-2xl text-slate-900 font-bold">Contactez-nous</h2>
            <div class="flex flex-col gap-2">
                <div class="flex flex-row items-center gap-2 bg-amber-20 lg:w-[35rem] boder border-slate-300 p-5 shadow">
                    <div class="p-1 flex flex-col justify-center items-center bg-green-600 rounded-full h-10 w-10"><img class="h-5 w-5" src="/images/phone-call.svg" alt=""></div>
                    <div>
                        <h3 class="text-slate-950 font-semibold">Pour un appel</h3>
                        <p class="text-slate-500">+243990920345</p>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-2 bg-amber-20 lg:w-[35rem] boder border-slate-300 p-5 shadow">
                    <div class="p-1 flex flex-col justify-center items-center bg-green-600 rounded-full h-10 w-10"><img class="h-5 w-5" src="/images/mail (2).svg" alt=""></div>
                    <div>
                        <h3 class="text-slate-950 font-semibold">Mail</h3>
                        <p class="text-slate-500">mivatakatisha&#64;gmail.com</p>
                    </div>
                </div>
                <div class="flex flex-row items-center gap-2 bg-amber-20 lg:w-[35rem] boder border-slate-300 p-5 shadow">
                    <div class="p-1 flex flex-col justify-center items-center bg-green-600 rounded-full h-10 w-10"><img class="h-5 w-5" src="/images/map-pin.svg" alt=""></div>
                    <div>
                        <h3 class="text-slate-950 font-semibold">Adresse</h3>
                        <p class="text-slate-500">Keshero, Goma, Nord-kivu</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <app-form/>
</main>