<div class="fixed bottom-6 z-50 lg:right-6 right-3 flex flex-col items-end space-y-2">
    <!-- Boutons cachés -->
    <div #buttonGroup class="flex flex-col items-end space-y-2">
        <!-- WhatsApp -->
        <a href="https://wa.me/243990920345" target="_blank" class="menu-button bg-green-500">
           <img class="h-8 w-8" src="/images/WhatsApp.png" alt="">
        </a>
      
        <!-- Gmail -->
        <a href="mailto:mivatakatisha@gmail.com" class="menu-button bg-red-500">
          <img class="h-8 w-8" src="/images/mail.png" alt="">
        </a>
      
        <!-- Appel Téléphonique -->
        <a href="tel:+243990920345" class="menu-button bg-blue-500">
            <img class="h-7 w-7" src="/images/PhoneOne.png" alt="">
        </a>
      
        <!-- Twitter/X -->
        <a href="https://twitter.com" target="_blank" class="menu-button bg-white">
            <img class="h-7 w-7" src="/images/TwitterX.png" alt="">
        </a>
      </div>
      
  
    <!-- Bouton principal -->
    <button (click)="toggleMenu()" class="w-14 h-14 bg-green-600 text-white rounded-full shadow-lg flex items-center justify-center transition-transform transform hover:scale-110">
        <svg *ngIf="!isOpen" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#f3f2f2" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-circle-more"><path d="M7.9 20A9 9 0 1 0 4 16.1L2 22Z"/><path d="M8 12h.01"/><path d="M12 12h.01"/><path d="M16 12h.01"/></svg>
      
        <svg *ngIf="isOpen" class="w-8 h-8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </svg>
      </button>
      
  </div>
  

