<main class=" flex flex-col justify-center gap-5 h-screen w-full bg-[url('/images/handsome-man-cleaning-house.jpg')] h-screen w-full bg-cover bg-center px-20 ">
    <h1>Un service de cleaning à un bas prix </h1>
    <h2 class=" text-5xl font-bold">Specialisation, efficience <br/> à travers notre service  <br/> cleaning</h2>
    <h3>Nous vous livrons un travail de qualité à un temps record</h3>
    <div class=" flex flex-row gap-10">
        <button class="border border-white p-2 text-white font-bold rounded bg-green-600">Reserver Une date</button>
        <button class="border border-white p-2 text-white font-bold rounded">Nos Services</button>
    </div>
</main>