<main class=" flex flex-col justify-center gap-5 h-screen w-full bg-[url('/images/dishes-eco-soap-cleaners.jpg')] bg-cover bg-center lg:px-20 px-5 ">
    <h1 class="text-slate-800">Un service de cleaning à un bas prix </h1>
    <h2 class=" lg:text-5xl text-3xl font-bold text-slate-800">Specialisation,<strong class="text-green-600">efficience</strong>  <br/> à travers notre service  <br/> <strong class="bg-gradient-to-r from-green-600 to-blue-300 text-transparent bg-clip-text">cleaning</strong></h2>
    <h3 class="text-slate-800">Nous vous livrons un travail de qualité à un temps record</h3>
    <div class=" flex flex-row gap-10">
        <button class="border border-white p-2 text-white font-bold rounded hover:bg-green-800 shadow-2xl transition duration-300 bg-green-600">Reserver Une date</button>
        <button class="border border-green-600 p-2 text-black font-bold hover:bg-green-800 transition shadow-2xl duration-300 rounded hover:text-white">Nos Services</button>
    </div>
    <app-button-flotting/>
</main>